.home {
    padding: 80px ;
    min-height: 100vh;
     margin-bottom: 0;
}

.scroll-down{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.home-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.media-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.media-icons a {
    color: var(--second-color);
    font-size: 32px;
}

.media-icons a:hover {
    color: var(--hover-color);
}

.home-info h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
}

.home-info h3 {
    color: var(--third-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

.home-info p {
    font-size: var(--normal-font-size);
    columns: var(--third-color);
    max-width: 350px;
    width: 100%;
}

.inner-info-link {
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
    
}

.inner-info-link:hover {
    background: var(--hover-color);
}

.home-img img {
    width: 90%;
}

.home-info-link {
    width: 190px;
      
}

.home-info-link svg{
    margin-left: 5px;
    margin-bottom:-3px;
    
}
