header .logo {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 29px;
    margin-top: 37px;
}

header {
    padding: 40px 0;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    text-align: right;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    padding: 10px 15px;
    transition: all 0.3s ease;
}


header nav ul li.btn a {
    background-color: #FA9021;
    padding: 9px 20px;
    border-radius: 8px;
    transition: all 0.5s ease;
}

header nav ul li.btn a:hover {
    background-color: #ff6868;
}


.nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 6px 0;
}

/* Активная ссылка */
.active {
  font-weight: 600;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: -20px;
  width: 100%;
  height: 5px;
  background: #ff9900;
  border-radius: 2px;
}