
.email{
    padding-bottom: 50px; 
}
.email h3{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
.email p {
    text-align: center;
}

.email .block {
  background:#1c140f; 
  margin-top: 30px;
  border-radius: 10px;
  padding: 40px 3%;
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
   
}
.email .block h4{
    font-size: 30px;
    font-weight: 500;    
}

.email .block p{
    width: 500px;
}

.email .block input{
    outline: none;
    border: none;
    border-radius: 8px;
    width: 400px;
    padding: 20px 25px;
    position: relative;
    left:110px;
    z-index: 1;
    padding-right: 120px;
}
.email .block button{
    position: relative;
    z-index: 2;
    border: none;
    color:#FFFFFF; 
    background-color: #FA9021;
    padding: 9px 20px;
    border-radius: 8px;
     transition: all 0.5s ease;
}
.email .block button:hover {
    background-color: #ff6868;
}