@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
    background-color: black;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}